.wrapper {
  display: flex;
  flex-direction: column;

  margin: 3rem 0;
  padding: 0;

  width: 100%;
}

.content {
  display: flex;
  align-items: flex-start;

  gap: 36px;

  .topContent {
    display: flex;
    flex-direction: column;

    > h1 {
      display: block;
      margin: 0;
      padding: 0;

      > span {
        color: #000;
        font-weight: 700;
        font-size: 2.5rem;
        text-transform: uppercase;
      }
    }

    .description {
      display: block;

      margin: 1rem 0 2rem;
      padding: 0;

      > p {
        display: block;
        margin: 0;
        padding-right: 3.5rem;

        font-size: 1rem;
        color: #000;
        font-weight: 500;
      }
    }

    .details {
      display: flex;
      flex-direction: column;

      .detailsContainer {
        display: flex;

        gap: 4rem;
        margin: 1rem 0;

        h2 {
          display: block;
          margin: 0 0 0.5rem;
          padding: 0;

          > span {
            color: #000;
            font-weight: 700;
            font-size: 1.25rem;
            text-transform: uppercase;
            letter-spacing: -1px;
          }
        }

        .detailsLeftColumn {
          display: flex;
          flex-direction: column;

          width: 100%;
        }

        .detailsRightColumn {
          display: flex;
          flex-direction: column;

          width: 100%;

          > .detailsItem {
            > strong {
              text-align: right;
            }
          }
        }

        .detailsItem {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;

          width: 100%;

          margin: 0.2rem 0;
          padding: 0;

          > span {
            display: inline-block;
            width: 100%;

            margin: 0;
            padding: 0;

            font-weight: 500;
            text-transform: capitalize;
          }

          > strong {
            display: inline-block;
            width: 100%;

            font-weight: 400;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}
