.wrapper {
  display: block;
}

ul.list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  gap: 16px;
  list-style: none;
}

li.listItem {
  display: block;
  width: 100%;

  margin: 0;
  padding: 0;

  @media screen and (min-width: 768px) {
    width: calc(25% - 16px);
  }
}
