.wrapper {
  display: block;
  width: 100%;
  height: 100%;

  ul.list {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    gap: 1rem;
    list-style: none;

    li.listItem {
      display: block;
      width: 100%;

      margin: 0;
      padding: 0;
    }
  }

  .noResults {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    > p {
      font-weight: 600;
      font-size: 1.5rem;
      color: var(--text-color);

      letter-spacing: -1px;
      text-transform: uppercase;
    }
  }
}

@media screen and (min-width: 480px) {
  .wrapper {
    margin-right: -1rem;

    ul.list {
      width: 100%;

      li.listItem {
        width: calc(50% - 1rem);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    ul.list {
      width: 100%;

      li.listItem {
        width: calc(33.3% - 1rem);
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .wrapper {
    ul.list {
      width: 100%;

      li.listItem {
        width: calc(25% - 1rem);
      }
    }
  }
}
